<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Entidades.Clase19.Properties.Settings.conexión" connectionString="Data Source=LAB5PC09\SQLEXPRESS;Initial Catalog=Productos;Integrated Security=True" />
    </connectionStrings>
</configuration>