<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Entidades.Clase23.Properties.Settings.conexion" connectionString="Data Source=LAB5PC09\SQLEXPRESS;Initial Catalog=Personas_db;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>